In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv(r"G:\My Drive\BCarney\DataAnalysis\CBP_2017\NAICS_AllDigits\County_level\rawdata\cbp17co.txt")
raw

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
0,1,1,------,NaN,G,11036,G,87354,G,360936,...,7,3,N,N,N,N,N,N,63,1
1,1,1,11----,NaN,H,93,G,1125,H,4865,...,N,N,N,N,N,N,N,N,63,1
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
3,1,1,1133//,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
4,1,1,11331/,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089493,56,999,61131/,NaN,G,18,G,53,G,229,...,N,N,N,N,N,N,N,N,83,999
1089494,56,999,611310,NaN,G,18,G,53,G,229,...,N,N,N,N,N,N,N,N,83,999
1089495,56,999,62----,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,N,83,999
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,N,83,999
1089497,56,999,81----,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,83,999

# Select Three-Digit NAICS

In [4]:
threedigitNAICS = raw.loc[raw['naics'].str.contains('///')]
threedigitNAICS

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
2,1,1,113///,NaN,G,81,G,983,G,4141,...,N,N,N,N,N,N,N,N,63,1
6,1,1,115///,NaN,J,12,J,142,J,724,...,N,N,N,N,N,N,N,N,63,1
8,1,1,212///,NaN,G,60,G,798,H,3280,...,N,N,N,N,N,N,N,N,63,1
13,1,1,221///,NaN,H,176,H,4812,H,18288,...,N,N,N,N,N,N,N,N,63,1
18,1,1,236///,NaN,G,91,H,738,H,3529,...,N,N,N,N,N,N,N,N,63,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089459,56,999,524///,NaN,H,376,G,4486,G,17870,...,N,N,N,N,N,N,N,N,83,999
1089470,56,999,541///,NaN,G,49,G,1083,G,4206,...,N,N,N,N,N,N,N,N,83,999
1089482,56,999,561///,NaN,H,483,J,4572,J,18405,...,3,N,N,N,N,N,N,N,83,999
1089491,56,999,611///,NaN,G,19,H,72,G,307,...,N,N,N,N,N,N,N,N,83,999
1089496,56,999,621///,NaN,H,29,G,328,G,1227,...,N,N,N,N,N,N,N,N,83,999

# Select respective counties from NJ & PA

In [5]:
region_NAICS = threedigitNAICS.loc[((threedigitNAICS['fipstate'] == 34) & ((threedigitNAICS['fipscty'] == 5) | (threedigitNAICS['fipscty'] == 7) | (threedigitNAICS['fipscty'] == 15) | (threedigitNAICS['fipscty'] == 21))) |  ((threedigitNAICS['fipstate'] == 42) & ((threedigitNAICS['fipscty'] == 17) | (threedigitNAICS['fipscty'] == 29) | (threedigitNAICS['fipscty'] == 45) | (threedigitNAICS['fipscty'] == 91) | (threedigitNAICS['fipscty'] == 101)))]
region_NAICS

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
587708,34,5,115///,NaN,J,91,H,1115,G,4950,...,N,N,N,N,N,N,N,N,22,5
587716,34,5,221///,NaN,J,1009,J,30966,J,108846,...,3,N,N,N,N,N,N,N,22,5
587730,34,5,236///,NaN,G,1523,G,19378,G,86325,...,N,N,N,N,N,N,N,N,22,5
587740,34,5,237///,NaN,G,498,G,7623,G,37269,...,N,N,N,N,N,N,N,N,22,5
587755,34,5,238///,NaN,G,4768,G,79576,G,379613,...,3,N,N,N,N,N,N,N,22,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819848,42,101,721///,NaN,G,7373,H,54261,H,243900,...,14,6,N,N,N,N,N,N,23,101
819858,42,101,722///,NaN,G,54201,G,254582,G,1077273,...,53,6,N,N,N,N,N,N,23,101
819876,42,101,811///,NaN,G,3356,G,30049,G,125228,...,N,N,N,N,N,N,N,N,23,101
819906,42,101,812///,NaN,G,9608,G,50614,G,211700,...,7,N,N,N,N,N,N,N,23,101
819935,42,101,813///,NaN,G,16455,G,173883,G,705963,...,12,N,N,N,N,N,N,N,23,101

# Empflag Check

In [6]:
threedigit_empflag = region_NAICS.loc[region_NAICS['empflag'].notnull()]
threedigit_empflag

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
588259,34,5,512///,F,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,22,5
589258,34,7,483///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,22,7
592382,34,15,221///,C,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,22,15
592853,34,15,511///,E,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,22,15
593133,34,15,622///,H,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,22,15
595318,34,21,336///,C,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,22,21
796364,42,29,221///,G,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,29
797118,42,29,533///,C,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,29
801643,42,45,213///,C,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,45
801752,42,45,315///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,45
801763,42,45,324///,F,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,45
802329,42,45,533///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,45
815395,42,91,213///,B,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,91
816103,42,91,486///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,91
816245,42,91,525///,A,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,91
818845,42,101,324///,G,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,101
819305,42,101,486///,C,S,0,S,0,S,0,...,N,N,N,N,N,N,N,N,23,101
819388,42,101,517///,I,S,0,S,0,S,0,...,7,N,N,N,N,N,N,N,23,101